.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 2px solid ;
}
.header > img {
    width: 130px;
    height: 130px;
    padding: 5px;
}
.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    padding: 5px;
    font-size: 16px;
}
.nav-bar{
    display: block;
    width: 20%;
    float: right;
}
.unorderred-nav li {
    cursor: pointer;
    margin: 3px;
    padding: 3px;
    background-color: blanchedalmond;
    border-radius: 5px;
    max-width: 80px;;
}
ul{

    list-style-type: none;
    font-size: large;
}

.res-card {
    margin: 5px;
    height: 300px;
    width: 185px;
    background-color:rgb(250, 236, 219);
    padding: 5px;
    border-radius: 8px;
}
.res-card:hover{
    cursor: pointer;
    border: 2px solid rgb(151, 146, 146);
    background-color:rgb(255, 255, 255);
    border-radius: 8px;
}
.res-card > img {
    max-height: 150px;
    max-width: 190px;
    padding:  2px 16px;
}
.res-name{
    margin: 2px;
}
.body{
    display: flex;
    flex-wrap: wrap;
    width:auto;
    padding: 5px;
}
.rate-time{
    max-height: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.rate-time h5,p{
    margin: 10px;
}
.footer {
  padding: 20px 10px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}